@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Dancing+Script:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,400;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	background-color: #101010;
	/* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
	font-family: "Josefin Sans", sans-serif;
	overflow-x: hidden;
}

* {
	padding: 0;
	margin: 0;
}

section {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 30px 50px;
}

section {
	min-height: 100vh;
	width: 100%;
	color: #eee;
}
/* section:nth-child(2n) {
	background-color: #622222;
} */
/* footer {
	background-color: #622222;
	color: #eee;
	height: 40vh;
} */

/*-- ====== TEAM Section Start ====== --*/

.team {
	/* background: linear-gradient(45deg,#3a88ec,#8db6eb,#6f3a88,#c45af5); */
}

.container {
	max-width: 1100px;
	width: 100%;
	margin: auto;
}
.section .container {
	padding-top: 20px;
	padding-bottom: 70px;
	justify-content: center;
	align-items: center;
}

.row-1 {
	display: flex;
	flex: 0 0 100%;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	padding-top: 55px;
	position: relative;
	justify-content: center;
	align-items: center;
}

.row {
	display: flex;
	flex: 0 0 33.33%;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	padding-top: 65px;
	position: relative;
	justify-content: space-between;
	align-items: center;
}

.card {
	position: relative;
	width: 350px;
	height: 190px;
	background: #eee;
	border-radius: 20px;
	box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
	transition: 0.5s;
	cursor: pointer;
}

.card:hover {
	height: 450px;
}

.imgBx {
	position: absolute;
	left: 50%;
	top: -50px;
	background: #eee;
	transform: translateX(-50%);
	width: 150px;
	height: 150px;
	border-radius: 20px;
	box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
	overflow: hidden;
	transition: 0.5s;
	z-index: 1;
}

.card:hover .imgBx {
	width: 250px;
	height: 250px;
}

.imgBx .img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	object-fit: cover;
}

.card .content {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	overflow: hidden;
}

.card .content .details {
	padding: 40px;
	text-align: center;
	width: 100%;
	transition: 0.5s 0.5s;
	transform: translateY(130px);
	/* card text translation */
}

.card:hover .content .details {
	transform: translateY(0px);
}

.card .content .details h2 {
	font-size: 1.2em;
	font-weight: 600;
	color: #555;
	line-height: 1.2em;
}

.card .content .details h2 span {
	font-size: 0.7em;
	font-weight: 500;
	opacity: 0.5;
	margin-top: 5px;
}

.card .content .details .data {
	display: flex;
	justify-content: space-between;
	margin: 15px 0;
}
.card .content .details .data i {
	display: inline-block;
	color: aliceblue;
	font-size: 14px;
}

.card .content .details .data h3 {
	transition: all 0.3s linear;
	@apply flex flex-col items-center gap-2;
}

.card .content .details .data h3:hover {
	transform: scale(1.4);
}

.card .content .details .data .fa-facebook-f {
	background-image: linear-gradient(to right, #5188fd, #49c5ff);
	padding: 5px 10px;
	border-radius: 5px;
}

.card .content .details .data .fa-instagram {
	background-image: linear-gradient(to right, #cc00ff, #ff49b3);
	padding: 5px 15px;
	border-radius: 5px;
}
.card .content .details .data h3 .fa-twitter {
	background-image: linear-gradient(to right, #8c00ff, #ff55b8);
	padding: 5px 15px;
	border-radius: 5px;
}

.card .content .details .data h3 {
	font-size: 1em;
	color: #555;
	line-height: 1.2em;
	font-weight: 600;
}

.card .content .details .data h3 span {
	font-size: 0.85em;
	font-weight: 400;
	opacity: 0.2;
}

.card .content .details .actionBtn {
	display: flex;
	justify-content: space-between;
}

.card .content .details .actionBtn button {
	padding: 10px 30px;
	border-radius: 5px;
	border: none;
	outline: none;
	font-size: 1em;
	font-weight: 500;
	background: #ff5f95;
	color: #fff;
	cursor: pointer;
}

.card .content .details .actionBtn button:nth-child(2) {
	border: 1px solid #999; 
	color: #999;
	background: #eee;
}

/*-- ====== TEAM Section End ====== --*/

/* NAVBAR START */
.menu-items {
	text-align: center;
	position: fixed;
	padding: 2rem;
	margin: -6rem 0;
	top: 100px;
	right: 10px;
	list-style: none;
	opacity: 0;
	font-size: 2rem;
	border: 4px solid black;
	background-color: #101010;
	border-radius: 0.25em;
	transform: translateX(10%);
	transition: transform 200ms ease-in-out, opacity 200ms;
	z-index: 10;
}

.menu-items li {
	color: white;
	padding: 0.5rem;
	transition: transform 150ms ease-in-out;
}

.menu-items li a {
	/* color: white; */
	text-decoration: none;
}

.menu-items li:hover {
	color: rgb(174, 174, 174);
	transform: scale(1.1, 1.1);
}

.check {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 3rem;
	width: 3rem;
	opacity: 0;
	z-index: 11;
}

.check:hover {
	cursor: pointer;
}

.check:checked ~ .menu-items {
	display: block;
	transform: translateX(0%);
	opacity: 1;
}

.ham-menu {
	height: 3rem;
	width: 3rem;
	position: fixed;
	top: 10px;
	right: 10px;
	padding: 0.5rem;
	z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #101010;
	border-radius: 0.25em;
	animation-name: slideInRight;
	animation-duration: 1s;
}

.ham-menu .line {
	background-color: white;
	border-radius: 1em;
	width: 2rem;
	height: 0.25rem;
}

.ham-menu .line1 {
	transform-origin: 0% 0%;
	transition: transform 100ms ease-in-out;
}

.ham-menu .line3 {
	transform-origin: 0% 100%;
	transition: transform 200ms ease-in-out;
}

.check:checked ~ .ham-menu .line1 {
	display: block;
	transform: rotate(45deg);
}

.check:checked ~ .ham-menu .line2 {
	opacity: 0;
}

.check:checked ~ .ham-menu .line3 {
	display: block;
	transform: rotate(-45deg);
}
/* NAVBAR END */
/* FOOTER START */
ul {
	margin: 0px;
	padding: 0px;
}
.footer-section {
	background: #151414;
	position: relative;
}
.footer-cta {
	border-bottom: 1px solid #373636;
}
.single-cta i {
	color: #ff5e14;
	font-size: 30px;
	float: left;
	margin-top: 8px;
}
.cta-text {
	padding-left: 15px;
	display: inline-block;
}
.cta-text h4 {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 2px;
}
.cta-text span {
	color: #757575;
	font-size: 15px;
}
.footer-content {
	position: relative;
	z-index: 2;
}
.footer-pattern img {
	position: absolute;
	top: 0;
	left: 0;
	height: 330px;
	background-size: cover;
	background-position: 100% 100%;
}
.footer-logo {
	margin-bottom: 30px;
}
.footer-logo img {
	max-width: 200px;
}
.footer-text p {
	margin-bottom: 14px;
	font-size: 14px;
	color: #7e7e7e;
	line-height: 28px;
}
.footer-social-icon span {
	color: #fff;
	display: block;
	font-size: 20px;
	font-weight: 700;
	font-family: "Poppins", sans-serif;
	margin-bottom: 20px;
}
.footer-social-icon a {
	color: #fff;
	font-size: 16px;
	margin-right: 15px;
}
.footer-social-icon i {
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 38px;
	border-radius: 50%;
}
.facebook-bg {
	background: #3b5998;
}
.twitter-bg {
	background: #55acee;
}
.google-bg {
	background: #dd4b39;
}
.footer-widget-heading h3 {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 40px;
	position: relative;
}
.footer-widget-heading h3::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -15px;
	height: 2px;
	width: 50px;
	background: #ff5e14;
}
.footer-widget ul li {
	display: inline-block;
	float: left;
	width: 50%;
	margin-bottom: 12px;
}
.footer-widget ul li a:hover {
	color: #ff5e14;
}
.footer-widget ul li a {
	color: #878787;
	text-transform: capitalize;
}
.subscribe-form {
	position: relative;
	overflow: hidden;
}
.subscribe-form input {
	width: 100%;
	padding: 14px 28px;
	background: #2e2e2e;
	border: 1px solid #2e2e2e;
	color: #fff;
}
.subscribe-form button {
	position: absolute;
	right: 0;
	background: #ff5e14;
	padding: 13px 20px;
	border: 1px solid #ff5e14;
	top: 0;
}
.subscribe-form button i {
	color: #fff;
	font-size: 22px;
	transform: rotate(-6deg);
}
.copyright-area {
	background: #202020;
	padding: 25px 0;
}
.copyright-text p {
	margin: 0;
	font-size: 14px;
	color: #878787;
}
.copyright-text p a {
	color: #ff5e14;
}
.footer-menu li {
	display: inline-block;
	margin-left: 20px;
}
.footer-menu li:hover a {
	color: #ff5e14;
}
.footer-menu li a {
	font-size: 14px;
	color: #878787;
}
/* FOOTER END */

/* CURSOR */
.cursor {
	width: 20px;
	height: 20px;
	border: 1px solid white;
	border-radius: 50%;
	position: absolute;
	pointer-events: none;
}
.cursor::after {
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	border: 2px solid blue;
	border-radius: 50%;
	opacity: 0.5;
	top: -8px;
	left: -8px;
}
@keyframes cursorAnim {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(5);
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}
.expand {
	animation: cursorAnim 0.5s forwards;
}
/*CURSOR  */

/* END */
